*{
    margin:0;
    padding: 0;
}
h1{
    font-size: 3vmin;
    color: rgb(26, 93, 137);
}
body{
    padding: 5vmin;
    background-color: rgb(58, 169, 248);
    justify-content: center;
    text-align: center;
}
.container{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.game{
    padding: 2vmin;
    margin: 3vmin;
    height: 50vmin;
    width: 50vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    background-color:rgb(114, 193, 254) ;
    height: 15vmin;
    width: 15vmin;
    border: none;
    border-radius: 1.5vmin;
    box-shadow: 0 0 1 rgba(0,0,0,.1);
    font-size: 8vmin;
    color: rgb(33, 118, 174);
}
.reset-btn{
    background-color:rgb(114, 193, 254) ;
    color: rgb(33, 118, 174);
    border:.1vmin solid rgb(58, 169, 248);
    border-radius: 3vmin;
    padding:2vmin;
    font-size: 2.5vmin;
}
.win-container{
    padding: 5vmin;
    height: 100%;
    display: grid;
    place-items: center;
    font-size:5vmin;
}
.hide{
    display: none;
}
.new-game-btn{
    background-color:rgb(114, 193, 254) ;
    color: rgb(33, 118, 174);
    border:.1vmin solid rgb(58, 169, 248);
    border-radius: 3vmin;
    padding:2vmin;
    font-size: 2.5vmin;

}
.hide-container{
    display: none;
}
    
    
